<% include partials/header %>


<div class="ui main text container segment">
    <div id="mainBox" class="ui huge header">Xero API Connection Settings</div>
</div>


<% if (connectionStatus) { %>
    <div id="smallBox" class="ui success message">
      <div class="header">
        Status
      </div>
      <p><i class="check icon"></i> Connected</p>
    </div>
    <div>
        <p>
            <a href="/disconnectXero">Disconnect from Xero</a>
        </p>
    </div>
<% } else { %>
    <div id="smallBox" class="ui negative message">
      <div class="header">
        Status
      </div>
      <p><i class="close icon"></i> Disconnected</p>
    </div>
    <br>
    <div>
        <p>
        <a href="/initialConnect">
        <img border="0" alt="W3Schools" src="https://developer.xero.com/static/images/documentation/connect_xero_button_white_2x.png" width="200">
        </a>
        </p>
    </div>
<% } %>




<% include partials/footer %>