<% include partials/header %>


<div class="ui main text container segment">
      <div id="mainBox" class="ui huge header">Xero Test App</div>
      
</div>


    
   
    <p>
        <a href="/organisationDetails">View Organisation Details</a>
    </p>
    
    
    




<% include partials/footer %>