<% include partials/header %>


<div class="ui main text container segment">
      <div id="mainBox" class="ui huge header">Welcome to the casa! arriba arriba</div>
      
</div>

    <h1>
        I'm a normal H1
    </h1>
    
    
    <p>
        This is where I'll put all of the buttons and fields to test the Xero API :)
    </p>
    <hr>
    <p>
        <a href="/initialConnect">Connect to Xero</a>
    </p>




<% include partials/footer %>