<% include partials/header %>


<div class="ui main text container segment">
      <div id="mainBox" class="ui huge header">Xero Sample App</div>
      
</div>


    
   
    <p>
        <a href="/organisationDetails">View Organisation Details</a>
    </p>
    
    <p>
        <a href="/manageContacts">Manage Contacts</a>
    </p>
    
    <p>
        <a href="/manageInvoices">Manage Invoices</a>
    </p>
    
    

<% include partials/footer %>