<% include partials/header %>


<div class="ui main text container segment">
      <div id="mainBox" class="ui huge header">Xero Test App</div>
      
</div>

<hr>
    <p>
        <h3><p>Your Xero Organisation: <%= theOrg["Name"] %></p></h3>
        <h3><p>Your Xero Organisation: <%= organisations[0]["Name"] %></p></h3>
    </p>
<hr>



<% include partials/footer %>